<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gaston.rickyapp">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Where on earth is Ricky Fort"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PantallaPrincipalActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PresentarCasoActivity" />
        <activity android:name=".PedirPistasActivity"></activity>





        <activity
            android:name=".OrdenDeArrestoActivity"
            android:parentActivityName=".PresentarCasoActivity" >
        </activity>
        <activity
            android:name=".ViajarActivity"
            android:parentActivityName=".PedirPistasActivity" >
        </activity>


    </application>

</manifest>